.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.SkrrtAnimation {
  padding: 10px;
  /* border: 3px solid pink;
  border-radius: 10px; */
  max-width: 400px;
  width: 100%;
  position: absolute;
  top: 110px;
  left: 380px;
  z-index: 50;
}
.Esizer {
  position: absolute;
  left: 780px;
  top: 120px;
  z-index: 10;
}

@keyframes mymove {
  0% {
    transform: scale(1.05);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  75% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1.03);
  }
}

.popUp {
  animation-name: mymove;
  animation-duration: 0.3s;
}
